[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
simple-http-server = "*"
sphinx = "*"
rinohtype = "*"

[packages]
opencv-python = "*"
numpy = "*"
scikit-image = "*"

[requires]
python_version = "3.6"
